body{
  font-family: 'Dancing Script', cursive !important;
  background-color: #ffe1e0 !important;
}
h1 {
  text-align: center;
  margin: 15px !important;
}
h5{
  text-align: center;
}
canvas {
  margin: 20px;
  border: 2px solid black;
}
.btn-cont {
  margin: 30px;
}
.content{
  text-align: center;
  margin: 15px;
}
#yourImg{
  max-width: 600px;
  max-height: 600px;
  text-align: center;
}
#my-colorbar{
  height: 50px;
  width: 50px;
  /* border-radius: 25px; */
  border: 2px solid #ffe1e0;
}
.card-content{
  text-align: center;
  background-color: white;
  border-radius: 25px;
}
a {
  color: white !important;
}
a:hover{
  color: #ccc !important;
  text-decoration: none !important ;
}
.slider{
  width: 40%;
}
@media (max-width: 991px){
  body{
    font-size: 5em !important;
  }
  .custom-file{
      font-size: 0.2em !important;
  }
  .btn-cont{
    text-align: center !important;
  }
}
@media (max-width: 767px){
  .btn{
    margin: 15px;
  }
}
@media (max-width: 775px) {
  .card-content{
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
